In [1]:
from nltk.tokenize import LineTokenizer, TabTokenizer

In [2]:
# https://mitu.co.in/dataset
# Download: student3.tsv

In [3]:
f = open('student3.tsv')
data = f.read()
data

'roll\tname\tclass\tmarks\tage\n1\tanil\tTE\t56.77\t22\n2\tamit\tTE\t59.77\t21\n3\taniket\tBE\t76.88\t19\n4\tajinkya\tTE\t69.66\t20\n5\tasha\tTE\t63.28\t20\n6\tayesha\tBE\t49.55\t20\n7\tamar\tBE\t65.34\t19\n8\tamita\tBE\t68.33\t23\n9\tamol\tTE\t56.75\t20\n10\tanmol\tBE\t78.66\t21\n'

In [4]:
print(data)

roll	name	class	marks	age
1	anil	TE	56.77	22
2	amit	TE	59.77	21
3	aniket	BE	76.88	19
4	ajinkya	TE	69.66	20
5	asha	TE	63.28	20
6	ayesha	BE	49.55	20
7	amar	BE	65.34	19
8	amita	BE	68.33	23
9	amol	TE	56.75	20
10	anmol	BE	78.66	21

In [5]:
#create the object
ltk = LineTokenizer()
ttk = TabTokenizer()

In [6]:
# Split on new line
tab = ltk.tokenize(data)

tablist = []
for t in tab:
    tablist.append(ttk.tokenize(t))
del tablist[0]
tablist

[['1', 'anil', 'TE', '56.77', '22'],
 ['2', 'amit', 'TE', '59.77', '21'],
 ['3', 'aniket', 'BE', '76.88', '19'],
 ['4', 'ajinkya', 'TE', '69.66', '20'],
 ['5', 'asha', 'TE', '63.28', '20'],
 ['6', 'ayesha', 'BE', '49.55', '20'],
 ['7', 'amar', 'BE', '65.34', '19'],
 ['8', 'amita', 'BE', '68.33', '23'],
 ['9', 'amol', 'TE', '56.75', '20'],
 ['10', 'anmol', 'BE', '78.66', '21']]

In [7]:
tlist = []
for t in tablist:
    for i in t:
        print(i)
        if i.isdigit():
            tlist.append(int(i))
        elif i.find('.')>0:
            tlist.append(float(i))
        else:
            tlist.append(i)
    tablist.append(tlist)    
tablist

1
anil
TE
56.77
22
2
amit
TE
59.77
21
3
aniket
BE
76.88
19
4
ajinkya
TE
69.66
20
5
asha
TE
63.28
20
6
ayesha
BE
49.55
20
7
amar
BE
65.34
19
8
amita
BE
68.33
23
9
amol
TE
56.75
20
10
anmol
BE
78.66
21
1

AttributeError: 'int' object has no attribute 'isdigit'