In [1]:
sent1 = 'It is a good practice for us.'
sent2 = 'It was also good to know about it.'

In [7]:
# IMPORT THE CLASS
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd
import numpy as np

In [3]:
# Create the object
tfidf = TfidfVectorizer()

In [4]:
# apply the task
new_data = tfidf.fit_transform([sent1,sent2])

In [5]:
new_data

<2x11 sparse matrix of type '<class 'numpy.float64'>'
	with 13 stored elements in Compressed Sparse Row format>

In [6]:
new_data.toarray()

array([[0.        , 0.        , 0.44665616, 0.31779954, 0.44665616,
        0.31779954, 0.        , 0.44665616, 0.        , 0.44665616,
        0.        ],
       [0.36439074, 0.36439074, 0.        , 0.25926702, 0.        ,
        0.51853403, 0.36439074, 0.        , 0.36439074, 0.        ,
        0.36439074]])

In [8]:
df = pd.DataFrame(data=new_data.toarray(),columns=tfidf.get_feature_names_out())

In [9]:
df

,about,also,for,good,is,it,know,practice,to,us,was
0,0.000000,0.000000,0.446656,0.317800,0.446656,0.317800,0.000000,0.446656,0.000000,0.446656,0.000000
1,0.364391,0.364391,0.000000,0.259267,0.000000,0.518534,0.364391,0.000000,0.364391,0.000000,0.364391