In [15]:
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd
import numpy as np

In [2]:
cvt = CountVectorizer()

In [ ]:
help(cvt)

In [9]:
sent1 = 'It is a good practice for us.'
sent2 = 'It was also good to know about it.'

In [22]:
cvt = CountVectorizer(ngram_range=(1,2))

In [23]:
new_data = cvt.fit_transform([sent1,sent2])

In [24]:
new_data.toarray()

array([[0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0,
        0],
       [1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 2, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1,
        1]], dtype=int64)

In [25]:
cvt.get_feature_names_out()

array(['about', 'about it', 'also', 'also good', 'for', 'for us', 'good',
       'good practice', 'good to', 'is', 'is good', 'it', 'it is',
       'it was', 'know', 'know about', 'practice', 'practice for', 'to',
       'to know', 'us', 'was', 'was also'], dtype=object)

In [26]:
df = pd.DataFrame(data=new_data.toarray(),columns = cvt.get_feature_names_out())

In [27]:
df

,about,about it,also,also good,for,for us,good,good practice,good to,is,...,it was,know,know about,practice,practice for,to,to know,us,was,was also
0,0,0,0,0,1,1,1,1,0,1,...,0,0,0,1,1,0,0,1,0,0
1,1,1,1,1,0,0,1,0,1,0,...,1,1,1,0,0,1,1,0,1,1

In [28]:
cvt = CountVectorizer(ngram_range=(2,2))

In [29]:
new_data = cvt.fit_transform([sent1,sent2])

In [30]:
new_data.toarray()

array([[0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0],
       [1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1]], dtype=int64)

In [31]:
cvt.get_feature_names_out()

array(['about it', 'also good', 'for us', 'good practice', 'good to',
       'is good', 'it is', 'it was', 'know about', 'practice for',
       'to know', 'was also'], dtype=object)